*.*~
*.pdf
*.png
article.brf
article.aux
article.log
article.synctex
*.bz2
*.xz
*.zip
*.npy

# For the article

!dallas_times.pdf
!hit_rates.pdf
!sf_types.pdf

!chiago_voroni_clustering_polys.png
!chiago_voroni_street_network_polys.png
!chicago_buildings_1.png
!chicago_buildings_after_flow.png
!Chicago_example1.png
!Chicago_example2.png
!Chicago_overview.png
!chicago_redist_cluster.png
!chicago_redist_network.png
!dallas_coords_to_streets.png
!dallas_geocoding_1.png
!Dallas_overview.png
!dallas_redist_to_buildings.png
!san_fran_two_stage_network_projection.png
!sf_flow_network.png
!sf_flow_to_buildings_1.png
!sf_flow_to_buildings_2.png
!SF_overview.png
!sf_redist_flow_network.png
!sf_vor_1.png
!sf_vor_2.png
